/* CSS DEL VISOR DEL INDEX*/
/* Formato contenedor del visor: relative */
  .visor {
    height: 600px;
    position: relative;
    background: linear-gradient(
      to top,
      #e7e7e75e,
      #030303ac
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
/* Elementos del visor: */
  .visor__video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -10;
  }
  .visor__img{
      width: 600px;
      margin: 0 auto;
      position: relative;
      top: 250px;
      border-bottom: 5px solid black;
      border-radius: 5px;
  }
  .visor__text {
      font-family: Monea;
      color: black;
      font-size: 3rem;
      position: relative;
      top: 250px;
      margin: 5px;
  }